<include file="Public/header"/>
<script language="JavaScript">
<!--
// 这里把JS用到的所有语言都赋值到这里
var process_request = "正在处理您的请求...";
var todolist_caption = "记事本";
var todolist_autosave = "自动保存";
var todolist_save = "保存";
var todolist_clear = "清除";
var todolist_confirm_save = "是否将更改保存到记事本？";
var todolist_confirm_clear = "是否清空内容？";
var user_name_empty = "管理员用户名不能为空!";
var password_invaild = "密码必须同时包含字母及数字且长度不能小于6!";
var email_empty = "Email地址不能为空!";
var email_error = "Email地址格式不正确!";
var password_error = "两次输入的密码不一致!";
var captcha_empty = "您没有输入验证码!";
//-->
</script>
</head>
<body>

<h1>
<span class="action-span"><a href="{:U('Role/showlist')}">角色列表</a></span>
<span class="action-span1"><a href="__MODULE__/Index/index">ECSHOP 管理中心</a> </span><span id="search_id" class="action-span1"> - 编辑角色 </span>
<div style="clear:both"></div>
</h1>
<form method="POST" action="{:U('Role/edit')}" name="theFrom" id="theFrom">
<div class="list-div">
<table width="100%">
  <tr>
    <td class="label">角色名</td>
    <td>
      <input type="text" name="role_name" class="in" id="role_name" maxlength="20" value="{$role.role_name}" size="34"/><span class="require-field" id="check_name">*</span></td>
  </tr>
  <tr>
    <td class="label">角色描述</td>
    <td>
    <textarea name="role_desc"  id="role_desc" class='in' cols="80" rows="6">{$role.role_desc}</textarea>
<span class="require-field" id="check_desc">*</span></td>
  </tr>
   <tr>
    <td align="center" colspan="2" >
      <input type="submit" id="btnSubmit" name="Submit" class="button" / value="保存">&nbsp;&nbsp;&nbsp;
      <input type="reset" value=" 重置 " class="button" />
      <input type="hidden" name="role_id" value="{$role.role_id}" />
    </td>
  </tr>
  </table>
</div>
</form>

<div id="footer">
共执行 3 个查询，用时 0.088005 秒，Gzip 已禁用，内存占用 2.139 MB<br />
版权所有 &copy; 2005-2012 上海商派网络科技有限公司，并保留所有权利。</div>
<import type="js" file="js.utils" basepath="{$Think.const.ADMIN_RES_PATH}" />

<script language="JavaScript">
	$(document).ready(function(){
		 $("#btnSubmit").click(function(){
			var issubmit = true;
			var i_index =0;
			$('#theFrom').find('.in').each(function(i){
				if($.trim($(this).val()).length == 0){
					$(this).parent().children('span').html('请填写内容');
					issubmit =false;
					
					if(i_index ==0)i_index =i;
				}
			});
			
			if(!issubmit){
				$('#theFrom').find('.in').eq(i_index).focus();
				return false;
			}
			$('#btnSubmit').attr('disabled',true).val('保存中..');
		});
		
	});
</script>
</body>
</html>
