<include file="Public/header"/>
<div style="clear:both"></div>

<include file="layout/layout"/>
<div class="block box">
  <div class="blank"></div>
  <div id="ur_here">
    当前位置:
    <a href=".">首页</a>
    <code>&gt;</code>
    购物流程
  </div>
</div>
<div class="blank"></div>

<div class="block table">

  <script type="text/javascript" src="js/region.js"></script>
  <script type="text/javascript">
          region.isAdmin = false;
                    var consignee_not_null = "收货人姓名不能为空！";
                    var country_not_null = "请您选择收货人所在国家！";
                    var province_not_null = "请您选择收货人所在省份！";
                    var city_not_null = "请您选择收货人所在城市！";
                    var district_not_null = "请您选择收货人所在区域！";
                    var invalid_email = "您输入的邮件地址不是一个合法的邮件地址。";
                    var address_not_null = "收货人的详细地址不能为空！";
                    var tele_not_null = "电话不能为空！";
                    var shipping_not_null = "请您选择配送方式！";
                    var payment_not_null = "请您选择支付方式！";
                    var goodsattr_style = "1";
                    var tele_invaild = "电话号码不有效的号码";
                    var zip_not_num = "邮政编码只能填写数字";
                    var mobile_invaild = "手机号码不是合法号码";
          
          
          onload = function() {
            if (!document.all)
            {
              document.forms['theForm'].reset();
            }
          }
          
        </script>
<foreach name="address" item="vo">
  <form action="{:U('cart/consignee')}" method="post" name="theForm" id="theForm" onsubmit="return checkConsignee(this)">
    <div class="flowBox">
      <h6>
        <span>收货人信息</span>
      </h6>
      <table width="99%" align="center" border="0" cellpadding="5" cellspacing="1" bgcolor="#dddddd">

        <tr>
          <td bgcolor="#ffffff">配送区域:</td>
          <td colspan="3" bgcolor="#ffffff">
            {$vo.address_info}
          </td>
        </tr>
        <tr>
          <td bgcolor="#ffffff">收货人姓名:</td>
          <td bgcolor="#ffffff">
           {$vo.consignee}
          </td>
          <td bgcolor="#ffffff">电子邮件地址:</td>
          <td bgcolor="#ffffff">
           {$vo.email}
          </td>
        </tr>

        <tr>
          <td bgcolor="#ffffff">详细地址:</td>
          <td bgcolor="#ffffff">
            {$vo.street}
          </td>
          <td bgcolor="#ffffff">邮政编码:</td>
          <td bgcolor="#ffffff">
            {$vo.zipcode}
          </td>
        </tr>
        <tr>
          <td bgcolor="#ffffff">电话:</td>
          <td bgcolor="#ffffff">
            {$vo.telephone}
          </td>
          <td bgcolor="#ffffff">手机:</td>
          <td bgcolor="#ffffff">
            {$vo.mobile}
          </td>
        </tr>

        <tr>
          <td bgcolor="#ffffff">标志建筑:</td>
          <td bgcolor="#ffffff">
              {$vo.sign_building}
          </td>
          <td bgcolor="#ffffff">最佳送货时间:</td>
          <td bgcolor="#ffffff">
               {$vo.best_time}
          </td>
        </tr>
        <tr>
          <td colspan="4" align="center" bgcolor="#ffffff">
            <input type="submit" name="Submit" class="bnt_blue_2" value="配送至这个地址" />
            <input type="hidden" name="step" value="consignee" />
            <input type="hidden" name="act" value="checkout" />
            <input name="address_id" type="hidden" value="{$vo.address_id}" />
          </td>
        </tr>
      </table>
    </div>
  </form>
</foreach>
</div>

<div class="blank10"></div>
<include file="Public/footer"/>