<include file="Public/header"/>
<div style="clear:both"></div>
 
<include file="layout/layout"/>
  <div class="block box">
<div class="blank"></div>
 <div id="ur_here">
 <if condition="$t_nav['parent_id'] eq 0">
 当前位置: <a href=".">首页</a> <code>&gt;</code><a href="{:U('/category/',array('cid'=>$t_nav['cat_id']))}">{$t_nav.cat_name}</a>
 <else/>
当前位置: <a href=".">首页</a> <code>&gt;</code> <a href="{:U('/category/',array('cid'=>$t_nav['parent_id']))}">{$t_nav.parent_name}</a> <code>&gt;</code> <a href="{:U('/category/',array('cid'=>$t_nav['cat_id']))}">{$t_nav.cat_name}</a>
</if>
</div>
</div>
<include file="layout/common_layout"/> 
<div class="blank"></div>
<script type="text/javascript">
obj_h4 = document.getElementById("cate").getElementsByTagName("h4")
obj_ul = document.getElementById("cate").getElementsByTagName("ul")
obj_img = document.getElementById("cate").getElementsByTagName("img")
function tab(id)
{ 
    console.log(obj_ul);
    if(obj_ul.item(id).style.display == "block")
    {
      obj_ul.item(id).style.display = "none"
      obj_img.item(id).src = "{$Think.const.RESOURCE}/images/btn_fold.gif"
      return false;
    }
    else(obj_ul.item(id).style.display == "none")
    {
      obj_ul.item(id).style.display = "block"
      obj_img.item(id).src = "{$Think.const.RESOURCE}/images/btn_unfold.gif"
    }
}
</script>

<include file="layout/history_layout"/>
  <div class="AreaR">
	   <if condition="$brands.1 eq true">
	  	  <div class="box">
		 <div class="box_1">
			<h3><span>{:L('goods_filter')}</span></h3>
       <if condition="$brands.1 eq true">
						<div class="screeBox">
			  <strong>{:L('brand')}：</strong>
					<foreach name="brands" item="brand2">
          <if condition="$brand2.selected eq 1">
          <span>{$brand2.brand_name}</span>
          <else/>
          <a href="{$brand2.url}">{$brand2.brand_name}</a>&nbsp;
          </if>
         </foreach>
												</div>
    </if>
      <foreach name="filter_attr_list" item="filter_attr">
      <div class="screeBox">
      <strong>{$filter_attr.filter_attr_name} :</strong>
      <foreach name="filter_attr.attr_list" item="attr">
            <if condition="$attr.selected eq 1">
        <span>{$attr.attr_value}</span>
            <else/>
        <a href="{$attr.url}">{$attr.attr_value}</a>&nbsp;
            </if>
      </foreach>
      </div>
      </foreach>
					</div>
		</div>
		<div class="blank"></div>
	  	 </if>
   
<div class="box">
 <div class="box_1">
  <h3>
  <span>商品列表</span>
  <form method="GET" class="sort" name="listform">
  <!-- 显示方式：
  <a href="javascript:;" onClick="javascript:display_mode('list')"><img src="{$Think.const.RESOURCE}/images/display_mode_list.gif" alt=""></a>
  <a href="javascript:;" onClick="javascript:display_mode('grid')"><img src="{$Think.const.RESOURCE}/images/display_mode_grid_act.gif" alt=""></a>
  <a href="javascript:;" onClick="javascript:display_mode('text')"><img src="{$Think.const.RESOURCE}/images/display_mode_text.gif" alt=""></a>&nbsp;&nbsp;
     
  <a href="category.php?category=2&display=grid&brand=0&price_min=0&price_max=0&filter_attr=0&page=1&sort=goods_id&order=ASC#goods_list"><img src="{$Think.const.RESOURCE}/images/goods_id_DESC.gif" alt="按上架时间排序"></a>
  <a href="category.php?category=2&display=grid&brand=0&price_min=0&price_max=0&filter_attr=0&page=1&sort=shop_price&order=ASC#goods_list"><img src="{$Think.const.RESOURCE}/images/shop_price_default.gif" alt="按价格排序"></a>
  <a href="category.php?category=2&display=grid&brand=0&price_min=0&price_max=0&filter_attr=0&page=1&sort=last_update&order=DESC#goods_list"><img src="{$Think.const.RESOURCE}/images/last_update_default.gif" alt="按更新时间排序"></a> -->
  <input type="hidden" name="category" value="2" />
  <input type="hidden" name="display" value="grid" id="display" />
  <input type="hidden" name="brand" value="0" />
  <input type="hidden" name="price_min" value="0" />
  <input type="hidden" name="price_max" value="0" />
  <input type="hidden" name="filter_attr" value="0" />
  <input type="hidden" name="page" value="1" />
  <input type="hidden" name="sort" value="goods_id" />
  <input type="hidden" name="order" value="DESC" />
    </form>
  </h3>
      <form name="compareForm" action="compare.php" method="post" onSubmit="return compareGoods(this);">
            <div class="clearfix goodsBox" style="border:none; padding:11px 0 10px 0px;">
            <foreach name="goods" item="vo">
             <div class="goodsItem" >
           <a href="{:U('goods/detail',array('id'=>$vo['goods_id']))}"><img src="../{$vo.goods_thumb}" alt="{$vo.goods_name}" class="goodsimg" /></a><br />
           <p><a href="{:U('goods/detail',array('id'=>$vo['goods_id']))}" title="{$vo.goods_name}">{$vo.goods_name}</a></p>
                                    市场价：<font class="market_s">{$vo.market_price}</font><br />
                                                                        本店价：<font class="shop_s">￥{$vo.shop_price}元</font><br />
                        			 
        </div>
        </foreach>
                    </div>
        </form>
  
 </div>
 <div id="pagebar" style="float:right;"></div>
</div>

<div class="blank5"></div>

 <load href="{$Think.const.RESOURCE}/js/bootstrap.js"/>
<load href="{$Think.const.RESOURCE}/js/jquery.twbsPagination.js"/>
<load href="{$Think.const.RESOURCE}/css/bootstrap.css"/>
<script type="text/javascript">
$(document).ready(function () {
    $('#pagebar').twbsPagination({
        totalPages: {$total},
        visiblePages:{$visiblePages},
    first:"首页",
    prev:"上一页",
    next:"下一页",
    last:"末页",
    version: '1.1',
    tagName:'AAA',
        onPageClick: function (event, page) {
          if(page < 1) page =1;
        $.post('{:U('/category/pages')}',{page:page,cid:'{$cid}',brand:'{$brand|default='0'}',filter_attr:'{$filter_attrs|default='0'}'},function(data){
          $('.clearfix .goodsBox').html(data);
        });
      
        
        }
    });
});
</script>
<script type="Text/Javascript" language="JavaScript">

var button_compare = '';
var exist = "您已经选择了%s";
var count_limit = "最多只能选择4个商品进行对比";
var goods_type_different = "\"%s\"和已选择商品类型不同无法进行对比";
var compare_no_goods = "您没有选定任何需要比较的商品或者比较的商品数少于 2 个。";
var btn_buy = "购买";
var is_cancel = "取消";
var select_spe = "请选择商品属性";
</script>
<form name="selectPageForm" action="/category.php" method="get">
 <div id="pager" class="pagebar">
      
      </div>
</form>
<script type="Text/Javascript" language="JavaScript">
<!--
function selectPage(sel)
{
  sel.form.submit();
}
//-->
</script>

  </div>  
  
</div>
<div class="blank10"></div>
<include file="Public/footer"/>